
  .login_body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .gradient-custom-2 {
     /* fallback for old browsers */
     background: #30cfd0;
  
     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to left, rgba(48,207,208,0.6), rgba(51,8,103,0.6));
   
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to left, rgba(48,207,208,0.6), rgba(51,8,103,0.6))
   }
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  .login_heading{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .titles{
    font-size: 1rem;
    font-weight: 600;
  }